body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f8ff;
}

#quiz-container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.hidden {
    display: none;
}

#question-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#back-to-start {
    background-color: #6c757d; /* En neutral grå färg */
    margin-top: 20px; /* Lite extra utrymme ovanför */
}

#back-to-start:hover {
    background-color: #5a6268;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}